@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
body {
  min-height: 100dvh;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}
::-webkit-scrollbar {
  width: 7px;
  scrollbar-color: #c0c0c0;
}
::-webkit-scrollbar-thumb {
  background: #6a0dad;
  border-radius: 10px;
}

::selection {
  color: white;
  background: #6a0dad;
}

.floating-image {
  animation: floatAnimation 5s ease-in-out infinite alternate;
  -webkit-user-drag: none;
}
.image_modal {
  -webkit-user-drag: none;
}
.diagram_img {
  animation: floatAnimation 5s ease-in-out infinite alternate;
  -webkit-user-drag: none;
}
@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.project-card {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 200px;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.project-card:hover .overlay {
  opacity: 1;
}

.transition-appear {
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-20px);
}

.transition-appear.active {
  opacity: 1;
  transform: translateY(0);
}
